.app{
    margin: 20px 20px;
}

.numberCircle {
    display:inline-block;
    line-height:0px;
    
    border-radius:50%;
    border:2px solid #ffe57f;
    margin-right:8px;
    
    font-size:16px;
}

.numberCircle span {
    display:inline-block;

    padding-top:50%;
    padding-bottom:50%;

    margin-left:8px;
    margin-right:8px;
}