blockquote{
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #ffe57f; /* Just change the color value and that's it*/
}

.recipe_look{
  margin-top: 10px;
  font-size: 1.5em; 
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 5px;
}

.highlight{
  background-color: #fdeba0;
}

.numberCircle {
  display:inline-block;
  line-height:0px;
  
  border-radius:50%;
  border:2px solid #ffe57f;
  margin-right:8px;
  
  font-size:16px;
}

.numberCircle span {
  display:inline-block;
  
  padding-top:50%;
  padding-bottom:50%;
  
  margin-left:8px;
  margin-right:8px;
}

a{
  color: #000080;
}

.section{
  padding-bottom: 0.5rem 
}

.backSearch {
  display:inline-block;
  line-height:0px;
  
  border-radius:50%;
  border:2px solid #ffe57f;
  margin-right:8px;
  
  font-size:16px;
}

.backSearch span {
  display:inline-block;

  padding-top:50%;
  padding-bottom:50%;

  margin-left:8px;
  margin-right:8px;
}